@* Find more SVG icons on https://simpleicons.org/ *@

@inject NavigationManager nvm

<aside class="socialsharing">
    <span class="title">Lets Get the Word Out, Share Us on Social Media!</span>
    <span class="buttons">
    <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u=@enc" target="_blank" rel="noopener noreferrer nofollow"></a>
    <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?url=@enc&text=@text" target="_blank" rel="noopener noreferrer nofollow"></a>
    <a class="fa fa-reddit" href="https://www.reddit.com/submit?url=@currentUrl" target="_blank" rel="noopener noreferrer nofollow"></a>
    <a class="fa fa-rss" href="#" target="_blank" rel="noopener noreferrer nofollow"></a>
    </span>
    <span class="attribution"><a href="https://fontawesome.com/icons">fontawesome CC BY 4.0 Licensed</a></span>
</aside>

@code{
    private string currentUrl = "";
    private string enc = "";
    private string text = "";

        protected override void OnInitialized()
        {
            currentUrl = "http://ukraineconflict.net";
            enc = System.Net.WebUtility.UrlEncode(currentUrl);
            text = System.Net.WebUtility.UrlEncode("Track Russian Troop Movements Live");
        }
}

